body
{
    background-image: url("img/Background-Wallpaper-Albert-Einstein1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,h4
{
    text-align: center;
    color: white;
    
}

label
{
    margin-left: 24.8%;
}

p
{
    padding-left: 5px;
}

input
{
    font-size: 20px;
    width: 5%;
    height: 25px;
    margin-bottom: 3px;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    position: relative;
    left: 32%;
}

.button
{
    background-color: rgb(20, 18, 18);
    color: white;
    border: none;
    position: relative;
    left: 37%;
    margin: 15px 5px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover
{
    background-color: rgb(2, 2, 2);
}


.package
{
    background-color:rgba(192,192,192,0.3);
    border: 3px solid black;
    border-radius: 7px;
    margin-bottom: 15px;
    width: 50%;
    position: absolute;
    left: 3%;
    /* top: 5%; */
}

.tanya
{
    background-color: rgb(37, 35, 35, 0.6);
    /* border: 1px solid black; */
    border-radius: 5px;
    margin: 5px 10px;
    padding: 5px;
    color: white;
}